
.container{
    background-color:rgb(241, 139, 156);
    margin: 0 auto;
    border-radius: 15px;
    border: 1px black;
    width: 20%;
    overflow: hidden;
}
#mainHeader {
    background-color:rgb(247, 88, 114);
    text-align: center;
    color: black;
    padding: 10px;
}
#formData {
    margin: 0 auto;
    text-align: center;
    color: black;
    padding: 10px;
}
.registrationLabel {
    text-align: left;
    margin-left: 21px;
}
.signInLabel {
    text-align: center;
}
#age {
    width: 30px;
}
